div.content::after {
    background-color: #C7BFF0;
}

::selection {
    color: #312682;
    background-color: #F5EC5F;
}

div {
    #Superblock\ Gostenhof {
        color: #312682;
    }

    background-color: #C7BFF0;
    max-width: 1200px;
    margin: auto;
}

h2.intermediate {
    text-align: center;
    background-color: #F5EC5F;
    border-color: #312682;
    border-width: 0.12em;
    border-radius: 5px;
    border-style: solid;
    max-width: 53%;
    margin: auto;
    margin-bottom: 3%;
    clear: inline-end;
}

a {
    color: #72419E;
}

a:hover {
    color: white;
}

iframe {
    max-width: fit-content;
    display: block;
    float: right;
    margin-bottom: 30px;
}

.events {
    margin-bottom: 0.7rem;
}

.events > p, .events-border > p {
    line-height: 1.4;
    margin: 0;
    padding: 0 0 0 10px;

}

.events > h5, h6 {
    padding: 0 0 0 25px;
    margin: 0;
    font-size: 0.86em;
}

.events-border {
    border-left: 5px solid #72419E;
    height: 20%;
    border-radius: 5px;
}

p.time {
    font-family: sans-serif;
    letter-spacing: 0.01em;
    font-size: 0.88em;
}

p.location {
    font-weight: 100;
}
